<div class="container">
    <h2 class="page-title">Medals per country</h2>
    <div class="statistics">
        <div class="statistics-item">
            <p class="statistics-item-title">Number of JOs</p>
            <p class="statistics-item-value">{{ numberOfOlympicGames }}</p>
        </div>
        <div class="statistics-item">
            <p class="statistics-item-title">Number of countries</p>
            <p class="statistics-item-value">{{ chartData.length }}</p>
        </div>
    </div>
    <div class="chart-wrapper">
        <ngx-charts-pie-chart
                [results]="chartData"
                [labels]="true"
                (select)="onSelect($event)"
        >
            <ng-template #tooltipTemplate let-model="model">
                <div class="chart-tooltip">
                    <p>{{ model.name }}</p>
                    <p>🎖️ {{ model.value }}</p>
                </div>
            </ng-template>
        </ngx-charts-pie-chart>
    </div>

</div>